[*.cs]

# IDE0210: Convert to top-level statements
dotnet_diagnostic.IDE0210.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
